.points,
.var,
.ptext,
.ptext2,
.pbutton,
.pupgrade,
.menutoggle,
.pointUpgrade,
.formula {
  color: white;
  font-size: 25px;
  margin: 0;
}

.give,
.cost,
.level {
  font-size: 20px;
  margin: 5px;
}

.ptext {
  color: rgb(200, 200, 200);
  font-size: 30px;
}

.ptext2 {
  color: rgb(175, 175, 175);
  font-size: 15px;
}

.pbutton {
  margin-top: 35px;
  font-size: 17.5px;
  background-color: rgb(211, 223, 228);
  padding: 5px 10px;
  border-radius: 20px;
  border: solid white;
}

.pbutton:hover {
  background-color: rgb(191, 203, 208);
}

.pbutton:active {
  background-color: rgb(171, 183, 188);
}

.pupgrade {
  font-size: 20px;
  padding: 10px 50px;
  margin-top: 50px;
  border: solid rgb(50, 50, 50);
  background-color: rgb(100, 100, 100);
  color: rgb(211, 228, 216);
  transition: background-color 0.3s ease;
}

.pupgrade:hover {
  background-color: rgb(80, 80, 80);
}

.pupgrade:active {
  background-color: rgb(60, 60, 60);
}

.menutoggle {
  margin: 5px;
  font-weight: bold;
  font-size: 17.5px;
  background-color: rgb(211, 228, 216);
  padding: 5px 10px;
  border-radius: 10px;
  border: solid rgb(223, 206, 206);
  transition: background-color 0.3s ease;
}

.menutoggle:hover {
  background-color: rgb(191, 208, 196);
}

.menutoggle:active {
  background-color: rgb(171, 188, 176);
}

.pointUpgrade {
  padding: 0 20px;
  background-color: rgb(100, 100, 100);
  border: solid 2px rgb(200, 200, 200);
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.pointUpgrade:hover {
  background-color: rgb(75, 75, 75);
}

.pointUpgrade:active {
  background-color: rgb(50, 50, 50);
}

.pUp {
  margin: 5px 0 5px 0;
  font-size: 17.5px;
  color: transparent;
  text-shadow: 1px 1px 1px #ffffff;
}
